*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    /* overflow-x: hidden; */
    font-family: radley;  
    background-color: #f4f1e8;
    /* padding-bottom: 10000px; */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 115px;
    color: #9b4819;
    position: relative;
    font-family: radley;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 250px;
    margin-bottom: 15px;
    padding-bottom: 220px;
    font-size: 120px;
    /* height: 90vh; */
}
.container .greeting{
    color: black;
    font-style: italic;
}
.container .name{
    padding: 20px;
    transition: border 0.5s linear,border-bottom-width 0.5s linear ,border-radius 0.5s linear;
}

.container .name:hover{
    border: 1px solid rgb(49, 64, 40);
    border-bottom-width: 10px;
    border-radius: 225px 150px 255px 150px / 50px 255px 135px 255px;
}
.container .hire{
    font-size: 20px;
    font-family: radley;  
    position: absolute;
    bottom: 80px;
    padding: 10px;
    text-decoration: 1px underline double;
    text-underline-offset: 5px;
    transition: color 0.3s linear, box-shadow 0.3s linear, background-color 0.3s linear;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.hire:hover{
    box-shadow: 1px 1px 5px #9b4819;
    background-color: #9b4819;
    color: #f4f1e8;

}
@media screen and (max-width: 1030px){
    .container{
        font-size: 75px;
        /* height: 90vh; */
    }
}
@media screen and (max-width:700px){
    .container{
        font-size: 50px;
        /* height: 90vh; */
    }
    .container .greeting{
        color: black;
        font-style: italic;
    }
    .container .name{
        padding: 5px;
        transition: border 0.5s linear,border-bottom-width 0.5s linear ,border-radius 0.5s linear;
    }
    .container .hire{
        font-size: 14px;
        padding: 10px;
        border-radius: 10px;
    }
    .container .name:hover{
        border: 1px solid rgb(49, 64, 40);
        border-bottom-width: 5px;
        border-radius: 225px 150px 255px 150px / 50px 255px 135px 255px;
    }

}
.menu{
    display: flex;
    flex-direction: row;
    background-color: #f4f1e8;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100000;
    height: 115px;
    right: 0px;
    left: 0px;
    box-shadow: 2px 2px 6px rgba(49, 64, 40, 0.5);
}
.menu1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 10px;
    bottom: 10px;
}  
.left img{
    height: 100px;
    width: 100px;
    animation: rotation 6s infinite linear;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
.right a{
    color: #9b4819;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s linear, box-shadow 0.3s linear, background-color 0.3s linear,text-decoration 0.3s linear;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.right a:hover{
    box-shadow: 1px 1px 5px #9b4819;
    background-color: #9b4819;
    text-decoration: 1px underline;
    text-underline-offset: 4px;
    color: #f4f1e8;
}
@media screen and (max-width: 1030px){
    .left img{
        height: 80px;
        width: 80px;
    }
}
@media screen and (max-width:700px){
    .left img{
        height: 50px;
        width: 50px;
    }
    .right a{
        font-size: 13px;
        border-radius: 10px;
        padding: 5px;
    }
}
::selection {
    background: #ffeeb9;
  }
/* <!-- ----------------about ---------------------> */
.about{
    padding-left: 15px;
    /* height: 90vh; */
    padding-right: 15px;
    margin-top: 150px;
    padding-top: 150px;
    padding-bottom: 110px;
}
.row{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-2{
    display: flex;
    align-items: start;
    padding-top: 30px;
    flex-basis: 40%;
}
.about-col-2 img{
    width: 100%;
    height: 470px;

    object-fit:cover;
    object-position: center;
    border-radius: 30px;
}
.about-col-1{
    flex-basis: 50%;
}
.about-col-1 .about-heading{
    font-size: 48px;
    color: #9b4819;
    font-style: italic;
}
.about-col-1 .info{
    margin-top: 20px;
    font-size: 20px;
}
.about-border{
    border: 1px solid #314028;
    border-radius: 525px 190px 355px 150px / 150px 155px 235px 155px;
    border-top: 0px;
    border-bottom:0px ;
    border-right: 4px solid #314028;
    border-left: 2px solid #314028;
    padding: 10px;
}
@media screen and (max-width: 1030px){
    .about-col-1 .info{
        font-size: 16px;

    }
}
@media screen and (max-width: 900px){
    .row{
        flex-direction: column;
    }
    .about-col-1{
        flex-basis: 60%;
    }
}
/* ----------background------------ */
.background{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
    padding-bottom: 110px;
    /* display: flex;
    flex-direction: column; */
}
.background-header{
    display: flex;
    justify-content: center;
    font-size: 48px;
    color: #9b4819;
}
.background-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-top: 100px;
}
.background-info-1,.background-info-2,.background-info-3{
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: center;
    height: 250px;
}

.background-info-1 img,.background-info-2 img,.background-info-3 img{
    height: 150px;
    width: 150px;
}
.coin img:hover{
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0%{
        transform: rotatex(0deg);
    }
    100%{
        transform: rotatex(360deg);
    }
}
.background-info-1 .place,.background-info-2 .place,.background-info-3 .place{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom:3px solid #9b4819;
}
.info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    display: flex;
}
@media screen and (max-width:790px) {
    .background{
        padding-left: 0;
        padding-right: 0;
    }
    .coin{
        width: 170px;
        height: 250px;
    }
    
    .background-info-1 img,.background-info-2 img,.background-info-3 img{
        height: 125px;
        width: 125px;
    }
    .background-info-1 .place,.background-info-2 .place,.background-info-3 .place{
        font-size: 15px;
    }
}
@media screen and (max-width:700px){
    .background-info{
        display: flex;
        flex-direction: column;
    }
} 
.skills{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
    padding-bottom: 220px;  
}
.logo{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #95957e; */
    /* height: 200px;
    width:200px; */
    /* padding: 10px; */
}
.logo img{
    height: 250px;
    width: 230px;
    box-shadow:2px 2px 1px #9b4819;
    border-radius: 150px 150px 10px 10px;
    object-fit: cover;
    margin-bottom: 30px;
    object-position: center;

}
@media screen and (max-width:700px){
    .logo img{
        height: 80px;
        width: 80px;
    }  
}
.project{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
    padding-bottom: 110px;
    /* height: 550px; */
}
.project-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-header .h{
    font-size: 48px;
    color: #9b4819;
}
.project ul{
    margin-top: 90px;
    /* margin-left: 65px; */
    line-height: 50px;
    list-style: none;
}  
.link1,.link2,.link3,.link4,.link5,.link6{
    text-decoration: none;
    color:#9b4819;
    font-size: 25px;
    /* font-weight: bold; */
    transition:border 1s,font-size 0.5s,background-color 0.5s, color 0.5s linear;
    border-left: 5px solid;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    }
    .link1:hover,.link2:hover,.link3:hover,.link4:hover,.link5:hover,.link6:hover{
    font-size: 40px;
    border: none;
    background-color: #9b4819;
    color: #f4f1e8;
    cursor: pointer;
    }
.link1:hover,.link2:hover,.link3:hover,.link4:hover,.link5:hover,.link6:hover{
        font-size: 30px;
        }
/* -------------contact------------- */
.contact{
    padding-left:15px;
    padding-right: 15px;
    padding-top: 70px;
    padding-bottom: 20px;
    /* height: 550px; */
    /* margin-top: 0px; */
    display: flex;
    justify-content: space-between;
    background-color: #9b4819;
    color: #f4f1e8;
    flex-direction: row;
}
.contact-left{
    display: flex;
    flex-direction: column;
    width: 510px;
}
.info1{
    font-size: 48px;
    padding-bottom: 35px;
    border-bottom: 1px solid #f4f1e8;
}
.info2{
    font-size: 14.9px;
    padding-top: 20px;
}
.info3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}
.facebook,.insta,.twitter,.github,.linkedin{
    height: 35px;
    width: 35px;
    padding-left: 5px;
}
.facebook img,.insta img,.twitter img,.github img,.linkedin img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.info33{
    margin-left: 50px;
    font-size: 23px;
    font-style: italic;
}
.info4{
    margin-top: 50px;
}
.phone{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.email{
    display: flex;
    align-items: center;
}
.image{
    height: 35px;
    width: 35px;
}
.image img{
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.info41{
    margin-left: 10px;
    font-size: 18px;
}
.contact-right{
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: white transparent;
    border-left: 1px solid;
  }
  h1{
    color: #314028;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  .letter {
    width: 80%;
    margin: 15px;
    perspective: 60rem;
  }
  .side {
    height: 12rem;
    background-color: #f4f1e8;
    outline: 1px solid transparent;
    &:nth-of-type(1) {
      padding: 2rem 2rem 0;
      border-radius: 1rem 1rem 0 0;
      box-shadow: inset 0 0.75rem 2rem rgba(229, 225, 187, 0.5);
    }
    &.side:nth-of-type(2) {
      padding: 2rem;
      border-radius: 0 0 1rem 1rem;
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05), inset 0 -0.57rem 2rem rgba(229, 225, 187, 0.5);
      text-align: right;
    }
  }
  textarea, input, button {
    line-height: 1.5rem;
    border: 0;
    outline: none;
    font-family: inherit;
    appearance: none;
  }
  textarea, input {
    color: #4e5e72;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
  }
  textarea {
    width: 100%;
    height: 8rem;
    resize: none;
  }
  input {
    width: 50%;
    margin-bottom: 1rem;
  }
  button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #314028;
    color: #f4f1e8;
    font-size: 1rem;
    transition: background-color 0.2s;
    &:hover{
      outline: none;
      background-color: #314028;
        opacity: 0.8;
    }
  }
  @media screen and (max-width:700px){
    .info1{
        font-size: 20px;
    }
    .info2{
        font-size: 15px;
    }
  }